.slide {
    height: 100vh;
    width: 100%;

    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
}
.slide1 {
    background-image: url('./../../img/background/01.jpg');
    @include mediaBg() {
        background-image: url('./../../img/background/01@2x.jpg');
    }
}
.slide2 {
    background-image: url('./../../img/background/02.jpg');
    @include mediaBg() {
        background-image: url('./../../img/background/02@2x.jpg');
    }
}
.slide3 {
    background-image: url('./../../img/background/03.jpg');
    @include mediaBg() {
        background-image: url('./../../img/background/03@2x.jpg');
    }
}
.slide4 {
    background-image: url('./../../img/background/04.jpg');
    @include mediaBg() {
        background-image: url('./../../img/background/04@2x.jpg');
    }
}
